<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <div class="well">
      <%= simple_form_for @user, url: password_reset_path(params[:id]) do |f| %>
        <div class="form-inputs">
          <%= f.input :password, input_html: { autofocus: true } %>
          <%= f.input :password_confirmation %>
        </div>
        <div class="form-actions">
          <%= f.button :submit, t('.update'), class: 'btn-default' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
