language: ruby
rvm:
  - 2.1.0
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq nodejs
before_script:
  - 'cp config/application.travis.yml config/application.yml'
  - "psql -c 'create database x0y0_test;' -U postgres"
  - 'bundle exec rake db:migrate'
