<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <% if current_user %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>

      <%= link_to t('app_name'), root_url, class: 'navbar-brand' %>
    </div>

    <% if current_user %>
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <%= menu_item_for User, users_path %>
        </ul>

        <%= render 'shared/user_actions' %>
      </nav>
    <% end %>
  </div>
</header>
